{extend name="main" /}

{block name="body"}
{include file="breadcrumb" /}
<div class="layui-fluid">
    <table class="layui-table" style="margin-top: 0;">
        <tr>
            <th><b>商家券批次名称</b></th>
            <th><b>券类型</b></th>
            <th><b>优惠金额</b></th>
            <th><b>折扣比例</b></th>
            <th><b>核销开始时间</b></th>
            <th><b>核销结束时间</b></th>
            <th><b>状态</b></th>
            <th style="padding: 0 15px;line-height: 40px;">
                <b>操作</b>
                <span style="float: right">
                    <a href="{:url('add')}" data-width="600px" data-height="450px" class="layui-btn layui-btn-sm" title="添加优惠券" target="right_content">添加优惠券</a>
                </span>
            </th>
        </tr>
        <tbody>
        {foreach name="list" item="vo"}
        <tr>
            <td>{$vo.stock_name}</td>
            {if condition="$vo['stock_type'] neq 'NORMAL'"}
                <td>满减券</td>
            {else}
                <td>折扣券</td>
            {/if}
            <td>{$vo.discount_amount}</td>
            <td>{$vo.discount_percent}</td>
            <td>{$vo.available_begin_time}</td>
            <td>{$vo.available_end_time}</td>
            <td class="layui-form">
                <input type="checkbox" lay-verify="required" lay-filter="status" name="status" data-id="{$vo.id}"
                       lay-skin="switch" lay-text="正常|禁止" value="1" {if condition="$vo['status'] eq 1"}checked{/if} >
            </td>
            <td>
                <a href="{:url('edit',array('id'=>$vo['id']))}" data-width="600px" data-height="450px" title="修改" class="layui-btn layui-btn-normal layui-btn-xs">
                    <i class="layui-icon layui-icon-edit"></i>修改
                </a>
                <a href="{:url('url',array('id'=>$vo['id']))}" data-width="400px" data-height="350px" title="生成链接" class="layui-btn layui-btn-warm layui-btn-xs xn_open">
                    <i class="layui-icon layui-icon-link"></i>生成链接
                </a>
                <a href="{:url('qrCode',array('id'=>$vo['id']))}" data-width="250px" data-height="350px" title="生成二维码" class="layui-btn layui-btn layui-btn-xs xn_open">
                    <i class="layui-icon layui-icon-cols"></i>生成二维码
                </a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div class="pages">{$list|raw}</div>
</div>
{/block}

{block name="js"}
<script>
    layui.form.on('switch(status)', function(data){
        //layer.tips('开关checked：'+ (this.checked ? 'true' : 'false'), data.othis)
        var val = this.checked ? 1 : 0;
        var id = $(this).attr('data-id');
        var url = "{:url('edit')}";
        $.post(url,{id:id,status:val},function (res) {
            console.log(res);
            layer.tips(res.msg, data.othis);
        },'json')
    });
</script>
{/block}