{extend name="main" /}

{block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">微信配置(请勿随意改动)</div>
                <div class="layui-card-body" pad15="">
                    <div class="layui-form" lay-filter="">
                        <form action="{:request()->url()}" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">微信支付商户号</label>
                            <div class="layui-input-block">
                                <input type="text" name="merchantId" value="{$wechat_setting_data.merchantId}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">商户API证书</label>
                            <div class="layui-input-block">
                                <input type="text" name="merchantCertificateSerial" value="{$wechat_setting_data.merchantCertificateSerial}" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">微信支付平台证书</label>
                            <div class="layui-input-block">
                                <input type="text" name="platformCertificateFilePath" value="{$wechat_setting_data.platformCertificateFilePath}" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">ApiV3密钥</label>
                            <div class="layui-input-block">
                                <input type="text" name="apiv3Key" value="{$wechat_setting_data.apiv3Key}"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn">确认修改</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                            </div>
                        </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{/block}