{extend name="main" /}

{block name="body"}
{include file="breadcrumb" /}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">微信配置(请勿随意改动)</div>
                <div class="layui-card-body" pad15="">
                    <div class="layui-form" lay-filter="">
                        <form action="{:request()->url()}" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">微信支付商户号</label>
                            <div class="layui-input-block">
                                <input type="text" name="merchantId" value="{$wechat_setting_data.merchantId}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">商户API证书序列号</label>
                            <div class="layui-input-block">
                                <input type="text" name="merchantCertificateSerial" value="{$wechat_setting_data.merchantCertificateSerial}" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">商户API私钥证书</label>
                            <div class="layui-input-block">
                                <input type="text" id='merchantPrivateKeyFile' name="merchantPrivateKeyFile" value="{$wechat_setting_data.merchantPrivateKeyFile}" placeholder="" autocomplete="off" class="layui-input">
                                <button type="button" class="layui-btn merchantPrivateKeyFileUploader" lay-options="{accept: 'file'}">
                                    <i class="layui-icon layui-icon-upload"></i>
                                    上传文件
                                </button>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">微信支付平台证书</label>
                            <div class="layui-input-block">
                                <input type="text" id='platformCertificateFilePath' name="platformCertificateFilePath" value="{$wechat_setting_data.platformCertificateFilePath}" autocomplete="off" class="layui-input">
                            </div>
                            <button type="button" class="layui-btn platformCertificateFilePathUploader" lay-options="{accept: 'file'}">
                                <i class="layui-icon layui-icon-upload"></i>
                                上传文件
                            </button>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">ApiV3密钥</label>
                            <div class="layui-input-block">
                                <input type="text" name="apiv3Key" value="{$wechat_setting_data.apiv3Key}"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn">确认修改</button>
                            </div>
                        </div>
                            <div class="layui-bg" style="padding: 16px;">
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-md12">
                                        <div class="layui-card">
                                            <div class="layui-card-header">微信参数验证</div>
                                            <div class="layui-card-body" id="checkArea">
                                                验证中...{$status}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['laydate','jquery'], function(){
        var upload = layui.upload;
        // 渲染
        upload.render({
            elem: '.merchantPrivateKeyFileUploader', // 绑定多个元素
            url: '/admin/wechat/uploader', // 此处配置你自己的上传接口即可
            accept: 'file', // 普通文件
            done: function(res){
                $('#merchantPrivateKeyFile').val(res.file)
                layer.msg('上传成功');
            }
        });
        upload.render({
            elem: '.platformCertificateFilePathUploader', // 绑定多个元素
            url: '/admin/wechat/uploader', // 此处配置你自己的上传接口即可
            accept: 'file', // 普通文件
            done: function(res){
                $('#platformCertificateFilePath').val(res.file)
                layer.msg('上传成功');
            }
        });
        var status = "{$status}";
        if(status == 1){
            $('#checkArea').html('验证通过');
        }else{
            $('#checkArea').html('验证失败:{$error}');
        }
    });
</script>
{/block}